<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>turisñero</title>
</head>
<body>
    {% include "menu_superior.html" %}
    {% block contenido %}Reemplazame{% endblock contenido %}
</body>
</html>